
@font-face {
    font-family: 'Inter';
    src: url(./assets/fonts/Inter-VariableFont_slnt.ttf) format('trueType');
    font-weight: normal;
    font-style: normal;
}

body{
    background-color: black;
    color: white;
    font-family: 'Inter', sans-serif;
}

.profile_div{
    display: flex;
    flex-direction: column;
    justify-self: center;
    align-self: center;
    background-color: hsl(0, 0%, 12%);
    border: 5vw solid hsl(0, 0%, 12%);
    border-radius: 2vw;
    overflow: auto;
    word-wrap: break-word;
}

.img_style{
    align-self: center;
    border-radius: 50%;
    width: 50%;
}

h1{
    align-self: center;
}

h4{
    border-top: 0;
    margin-top: 0;
    align-self: center;
    color: hsl(75, 94%, 57%);
}

p{
    align-self: center;
}

button{
    align-self: center;
    background-color: hsl(0, 0%, 20%);
    color: white;
    border: none;
    border-radius: 1vw;
    text-align: center;
    cursor: pointer;
    padding: 1vh;
    width: 100%;
    margin: 1vw 0;
    transition-duration: 0ms;
}

button:hover{
    background-color: hsl(75, 94%, 57%);
    color: black;
}